* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto Light", serif;
    color: #222222;
}

body {
    background: #cafeff !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

footer {
    width:100%;
    text-align: center;
    font-size: 0.7rem;
}