* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Comic Sans MS", serif;
    color: #ffffff;
}

body {
    background: #666666 !important;
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

footer {
    width:100%;
    text-align: center;
    font-size: 0.7rem;
}