.my-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}