.context-body {
    width: 70%;
    margin: 0 auto;
}

.context-body-box {
    width: 90%;
    margin: 20px auto;
    background: rgba(153, 153, 153, 0.4);
    border-radius: 5px;
    padding: 15px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h-unselected {
    color: #ffffff;

    /* setting a transition */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition:all 1s;
    -o-transition: all 1s;
}

.h-selected {
    color: #222222;
    font-size: 1.3em;

    /* setting a transition */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition:all 1s;
    -o-transition: all 1s;
}