.context {
    width: 100%;
    padding-top: 100px;
}

.context-body {
    width: 70%;
    margin: 0 auto;
}

.context-body-box {
    width: 90%;
    margin: 20px auto 60px;
    background: rgba(153, 153, 153, 0.4);
    border-radius: 5px;
    padding: 15px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
}

.holder {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}