.nav {
    width: 100%;
}

.nav button {
    position: relative;
    top: -14.5px;
    outline: none;
    background: #ffffff;
    border: 1px solid #222222;
    border-radius: 60px;
    width: 35px;
    height: 35px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* setting a transition */
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
}

.nav button:hover {
    border: 1px solid #888888;
    color: #888888 !important;
}

.selected-btn {
    top: -10px !important;

    /* setting a transition */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

#bt-1 {
    background: #3670d5;
    border-color: #3670d5;
}

#bt-2 {
    background: #099a43;
    border-color: #099a43;
}

#bt-3 {
    background: #dcdc10;
    color: #222222 !important;
    border-color: #dcdc10;
}