.holder {
    width: 100%;
}

.appear {
    width: 100%;
    overflow: visible;
    height: initial;
    padding: 60px;

    /* setting a transition */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.disappear {
    overflow: hidden;
    height: 0;
}