.footer {
    background-color: #121212;
    color: #bcbcbc;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 48% 45%;
}

.list-item {
    display: flex;
    align-items: center;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}
