.footer {
    background-color: #121212;
    color: #bcbcbc;
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 48% 45%;
}

.footer-context {
    padding-right: 30px;
}

.footer-context-left {
    padding-left: 30px;
}

.left-footer {
    border-right: 1px solid white;
}

.list-item {
    display: flex;
    align-items: center;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .footer-context, .footer-context-left {
        padding: 30px;
    }

    .left-footer {
        border-right: 0px solid white;
    }
}
