.navigation {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 60px;

    border-bottom: 2px solid rgb(255, 215, 169);
}

.navigation-item {
    margin-right: 60px;
    color: inherit;
    text-decoration: none;
}

.navigation-item::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(255, 215, 169);
    transition: 300ms;
}

.navigation-item:hover::after {
    width: 100%;
}

.navigation-item-select::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: rgb(255, 215, 169);
}
