{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <div class="container">
    <h4 class="my-5">Research</h4>
    <div style="text-align: start; padding-left: 101px; margin: 50px 0;">
        <strong>Research interests:</strong><br />
        <ul style="list-style-type: none;">
          <li>Cloud Computing</li>
          <li>Distributed Systems</li>
          <li>Computers Network and Communications</li>
        </ul>
    </div>
    <div class="panel">
      <div class="panel-body">
        {{ range .Data.Pages }}
          <div class="row mb-2">
            <div class="col-4">
              <h5 style="text-align: right">
                {{ .Date.Format "January 2, 2006" }}
              </h5>
            </div>
            <div class="col-8">
              <h5 style="text-align: left">
                <b><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></b><br />
                by <b>{{ .Params.author }}</b>
              </h5>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
