.list-inline-item a {
    background-color: #001f3f; /* Dark blue */
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none !important;
    outline: none;
    font-size: 0.9rem;
}

.list-inline-item a:hover {
    background-color: #0056b3; /* Lighter blue on hover */
    color: #ffffff;
}

@media only screen and (max-width: 1200px) {
    .list-inline-item {
        display: inline-block;
        margin-bottom: 15px;
    }
}
