#content {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

#profile_img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 2, 63, 0.2);
}

#bg_img {
  opacity: 0.1;
  position: fixed;
  left: -900px;
  top: -300px;
  width: 1300px;
  z-index: -2;
  animation: move-mask 7s linear infinite;
}

#date_wrapper {
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 90;
}

@keyframes move-mask {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.1;
  }
}

@media only screen and (max-width: 900px) {
  #profile_img {
    margin-bottom: 30px;
  }
}
