#profile_img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 2, 63, 0.2);
}

#bg_img {
    opacity: 0.2;
    position: fixed;
    left: -400px;
    top: -300px;
    width: 80%;
    z-index: -1;
}

@media only screen and (max-width: 900px) {
    #bg_img {
        left: -50px;
        top: -50px;
        width: 100%;
    }
}
