.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.red {
  color: rgb(175, 0, 0);
}

.dark-blue {
  color: rgb(50, 50, 174);
}

.small-text {
  font-size: 0.98rem !important;
}

@media only screen and (max-width: 900px) {
  .grid-2 {
    grid-template-columns: auto;
  }
}
