/* importing other css files */
@import url("components.css");
@import url("const.css");
@import url("classes.css");

/* global css settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}
