/* importing other css files */
@import url("components.css");
@import url("const.css");

/* global css settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
