<script>
 // Handle modals
 function toggleModal(win) {
     return ((event) => {
         if (event.target.id.startsWith("#open-modal") || 
             event.target.id.startsWith("#close-modal") || 
             event.target.classList.contains("open-modal")) {
             event.stopPropagation();
             win.classList.toggle("invisible");
             win.classList.toggle("pointer-events-auto");
             document.body.classList.toggle("pointer-events-none");
         }
     });
 }
 var list = document.getElementsByClassName("open-modal");
 for (let item of list) {
     var id = item.attributes["data-target"].textContent;
	 var modWin = document.getElementById(id);
     var closeButton = document.getElementById(id.replace("open", "close"));

	 item.addEventListener('click', toggleModal(modWin));
     closeButton.addEventListener('click', toggleModal(modWin));
     modWin.addEventListener('click', toggleModal(modWin));
 }
 var clipboardCopyButtons = document.getElementsByClassName("modal-copy-citation");
 for (let button of clipboardCopyButtons) {
     let citation_id = button.id.replace("#copy-", "");
     let citation_text = document.getElementById(citation_id);
     button.addEventListener('click', function (clicked) {
        return function () {
            if (!clicked) {
                var last = this.innerHTML;
                navigator.clipboard
                         .writeText(citation_text.innerHTML)
                         .then(() => {
                             this.innerHTML = "Copied!";
                             this.disabled = true;
                         },
                               () => {this.innerHTML = "Error copying!";});
                clicked = true;
                setTimeout(function () {
                    this.innerHTML = last;
                    this.disabled = false;
                    clicked = false;
                }.bind(this), 1000);
            }
        };
     }(false), this);
 }
</script>
