<div class="head container grid sm:grid-cols-2 grid-cols-1
            justify-around flex-wrap items-center"
     itemscope itemtype="http://schema.org/Person">
    <div class="picture p-8 max-w-[80%] mx-auto basis-20 grow shrink"
         itemscope itemtype="http://schema.org/ImageObject">
        <picture>
            {{ if .Params.ImgOther }}
            {{ range .Params.ImgOther }}
            <source srcset="{{ .name }}"{{ if .type }} type="{{ .type }}"{{ end }}>
            {{ end }}
            {{ end }}
            <source srcset="{{ .Site.Params.imgname.Name }}"
                    {{ if .Site.Params.imgname.Type }} type="{{ .Site.Params.Imgname.Type }}"{{ end }}>
            <img class="main-image u-photo mx-auto"
            itemprop="contentUrl" alt="{{ .Site.Params.Imgname.Alt }}"
                 src="{{ .Site.Params.imgname.Name }}">
        </picture>
    </div>
    <div class="mx-4 ml-8 basis-60 grow shrink-2 leading-snug text-base">
        <a  class="u-url font-bold" rel="me" itemprop="url" href="{{ .Permalink }}">
            <h1 class="text-black dark:text-zinc-300 p-name border-0"
                itemprop="name">{{ .Params.Name }}
            </h1>
        </a>
        {{ if .Params.sameas }}
        {{ range .Params.sameas }}
        <link href="{{ . }}" rel="me" itemprop="sameAs">
        {{ end }}
        {{ end }}
        <h2 itemprop="jobTitle" class="text-xl my-0 border-none">{{ .Params.Personal_title }}</h2>
            {{range .Params.Address }}
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
                {{ .name }}
                <br>
                {{ .street }}
            </span>
            <br>
            {{ with .postal_code }}<span itemprop="postalCode">{{ . }}</span>{{ end }}
            {{ with .locality }}<span itemprop="addressLocality">{{ . }}</span>{{ end }}
            <br>
            {{ with .email }}
            <a href="mailto:{{ . }}">{{ . }}</a>
            {{ end }}
            {{ with .emailimg }}
            <picture>
                {{ if .dark }}
                <source srcset="{{ .dark }}" class="email"
                        alt="Email screenshot"
                        media="(prefers-color-scheme: dark)">
                {{ end }}
                {{ if .light }}
                <img class="email h-5 inline" src="{{ .light }}" alt="Email screenshot">
                {{ end }}
            </picture>
            {{ end }}
            <br>
            </div>
            {{ end }}
    </div>
</div>
