{{ if (or (.Params.categories) (.Params.tags)) }}
<ul class="list-none pl-0 font-sm align-left">
{{ if .Params.categories }}
<hr>
<li class="list-none">
    Categories:
    {{ range $index, $category := .Params.categories }}
    <a class="inline-block mt-2 mr-2 border-none text-neutral-800 dark:text-neutral-200"
       href="{{ "categories/" | relURL }}{{ . | urlize }}">
    <span class="tag-item dark:bg-zinc-900 dark:hover:bg-zinc-700
                 hover:bg-zinc-200 bg-zinc-100
                 dark:border-zinc-600 py-0.5
                 px-1 rounded-t border-b-2 border-zinc-300
                 hover:border-zinc-500">
    {{ . }}
    </span>
</a>{{ end }}
</li >
{{ end }}
{{ if .Params.tags }}
<li class="list-none">
    Tags:
    {{ range $index, $tag := .Params.tags }}
    <a class="inline-block mt-2 mr-2 border-none text-neutral-800 dark:text-neutral-200"
       href="{{ "tags/" | relURL }}{{ . | urlize }}">
        <span class="flex flex-row justify-start items-center
                     dark:bg-zinc-900 dark:hover:bg-zinc-700
                     hover:bg-zinc-300 bg-zinc-200
                     dark:border-zinc-600 py-0.5
                     px-1 rounded-t border-b-2 border-zinc-300
                     hover:border-zinc-500">
            {{ $logo := resources.Get "images/tag_logo.svg" }}
            <img class="h-4 mr-2 inline" src="{{ $logo.Permalink }}"
                 alt="Logo of a tag: indicates that a tag item follows.">
            {{ . }}
        </span>
    </a>
    {{ end }}
</li>
{{ end }}
</ul>
{{ end }}
