.items {
    display: inline-block;
    margin: 0 15px;
}

.contact-field {
    background-color: #3670d5;
    color: #ffffff !important;
    padding: 20px 60px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
}