/* content styles (classes, ids) */
.bg {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 600px; 
    width: 100%;
}

.bg-container {
    margin: 0px auto !important;
    padding-top: 200px;
}

.self-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    width: 220px;
    height: 220px;
}

.self-img {
    border: 2px solid #666;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: rotate(-2deg);
}

.self-text {
    color: #fff;
    text-align: right;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.self-text a {
    color: #fff;
    text-decoration: none;
}

.self-text a:hover {
    color: #696969;
    text-decoration: underline;
}

.text-justify {
    text-align: justify;
}

.list-group-item {
    font-size: 0.8rem;
}

.blog-post {
    font-size: 0.9rem;
    padding: 0 10px 0;
}

.blog-post a {
    color: #565656;
    text-decoration: none;
}

.blog-post a:hover {
    color: #000;
    text-decoration: underline;
}

.blog-post:nth-of-type(odd)::before {
    color: red;
}

.blog-post:nth-of-type(even)::before {
    color: blue;
}

.blog-post {
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.blog-post::before {
    content: "• ";
    color: #565656;
    margin-right: 5px;
}
